body{
	background-color: #EEEEEE;
}
/*tabs-under-silder*/
.tabs-under-silder{
	position: relative;
	background-color: #FFFFFF;
}
.tabs-under-silder .div-item{
	color: #666;
	text-align: center;
}
.tabs-under-silder .div-item span{
	font-size: 0.8em;
}
.tabs-under-silder .div-item:hover{
	cursor: pointer;
}
.tabs-under-silder .div-item img{
	display: block;
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin: 0.5em auto;
	margin-bottom: 0em;
}
/*hot*/
.lists{
	width: 100%;
	background-color: #FFF;
	margin-top: 0.5em;
}
.lists .lists-head{
	text-indent: 0.8em;
	font-size: 1.2em;
	line-height: 2em;
	border-bottom: 1px solid #999;
}
.lists .lists-content{
	width: 100%;
}
.lists .lists-content .list{
	height: 6em;
	border-bottom: 1px solid #999;
}
.lists .lists-content .list img{
	width: 3.5em;
	height: 5em;
	margin-top: 0.5em;
	margin-left: 1.3em;
}
.lists .lists-content .list .list-right p.details{
	padding-left: 1em;
	font-size: 0.9em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.lists .lists-content .list .list-right p.price{
	padding-left: 1em;
	font-size: 0.9em;
	margin: 0em;
	margin-bottom: 0em;
}
.lists .lists-content .list .list-right p.price .per{
	display: block;
	float: left;
	font-size: 1em;
	color: #2EE27F;
}
.lists .lists-content .list .list-right p.price .enter{
	display: block;
	float: right;
	width: 1.2em;
	height: 1.2em;
	border-radius: 1.2em;
	background-color: #2EE27F;
	color: black;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;
}

/*tabs footer*/
.space{
	height: 6em;
}
/**/
.tabs-icon-top{
	position: fixed;
	bottom: 0em;
	background-color: #F8F8F8;
}
.tabs-icon-top a{
	text-align: center;
	padding: 0.5em;
	line-height: 1.5em;
	font-size: 0.8em;
	margin-bottom: 0.1em;
	color: #666;
}
.tabs-icon-top a i{
	display: block;
	font-size: 1em;
}
.tabs-icon-top a:hover{
	cursor: pointer;
}