/*.tabs-icon-top a{
	text-align: center;
	padding: 0.5em;
	line-height: 1.5em;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
.tabs-icon-top a i{
	display: block;
	font-size: 1em;
}
.tabs-icon-top a:hover{
	cursor: pointer;
}*/

/* .am-list-item-text{
	font-size: 1em;
}
.price{
	margin-bottom: 0em;
} */

/* .hot{
	background-color: #FFFFFF;
	width: 100%;
}
.hot .list-head{
	height: 1.5em;
	text-align: left;
	text-indent: 1em;
	font-size: 1.2em;
	color: #666;
	line-height: 1.5em;
}
.hot .list-content .detail{
	
} */
