.tabs-icon-top a{
	text-align: center;
	padding: 0.5em;
	line-height: 1.5em;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
.tabs-icon-top a i{
	display: block;
	font-size: 1em;
}
.tabs-icon-top a:hover{
	cursor: pointer;
}