
.calendar{
  background-color: #FFFFFF;
}
.calendar .container{
  background-color: #FFFFFF;
}
.calendar .click-container{
  height: 150px;
  width: 100%;
  background-color: #FFFFFF;
}
/* .calendar .event{
  background-color: blue !important;
  border: 1px solid black !important;
} */
.calendar .click-container .click-left .content
,.calendar .click-container .click-right .content{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
}
.calendar .click-container .click-btn:active{
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin: 25px auto;
  width: 100px;
  border-radius: 100px;
  background-color: #FFF;
  border: 6px solid #000;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.calendar .click-container .click-btn{
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin: 25px auto;
  width: 100px;
  border-radius: 100px;
  background-color: #29A7E1;
  border: 6px solid #CCFFFF;
  transition: 2s;
  -moz-transition: 2s;
  -webkit-transition: 2s;
}
.calendar .click-recorder{
  width: 100%;
  height: 40px;
  background-color: #29A7E1;
  border: 1px solid #CCFFFF;
  text-align: center;
  line-height: 40px;
  color: black;
}
.cal2 {
  max-width: 280px;
  margin: 0 auto;
}
.cal2 .clndr .clndr-controls {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: ;
}
.cal2 .clndr .clndr-controls .clndr-previous-button {
  float: left;
  font-size: 25px;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal2 .clndr .clndr-controls .clndr-previous-button span{
  margin-left: -10px;
  color: #29A7E1;
}
.cal2 .clndr .clndr-controls .clndr-next-button span{
  margin-right: -10px;
  color: #29A7E1;
}
.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #29A7E1;
}
.cal2 .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
.cal2 .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  font-size: 25px;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-grid {
  width: 280px;
  height: 280px;
  text-align: center;
  border: 0px solid #000;
  display: inline-block;
  background-color: #FFFFFF;
}
.cal2 .clndr .clndr-grid .header-day {
  float: left;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #CCFFFF;
  margin: 1px;
  line-height: 38px;
}
.cal2 .clndr .clndr-grid .day {
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid #CCFFFF;
  margin: 1px;
  line-height: 38px;
}
.cal2 .clndr .clndr-grid .day.event {
  background-color: ;
}
.cal2 .clndr .clndr-grid .day.today {
  background-color: #CCFFFF;
}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 38px;
  height: 38px;
  background: #ddd;
  border: 1px solid #CCFFFF;
  margin: 1px;
  line-height: 38px;
}
.cal2 .clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cal2 .clndr .clndr-today-button:hover {
  background-color: #ddd;
}
