/* animation */
.filp{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transition: 2s;
	-moz-transition: 2s;
	-webkit-transition: 2s;
}
.filpc{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.card-container{
	position: ;
	padding-bottom: 0em;
}
.card-container div.card{
	margin: 1em auto !important;
	width: 90%;
	height: 12em;
	border-radius: 1em;
}
.card-container div.card .per-card{
	display: block;
	width: 100%;
	height: 12em;
	border-radius: 1em;
	z-index: 100;
}
.card-container div.card div.front{
	
}
.card-container div.card div.back{
	background-color: #CCC;
	height: 12em;
	width: 100%;
	display: none;
}

div.card-op{
	position: relative;
	height: 3em;
	margin-top: -3em;
	z-index: 1000;
}
div.card-op div{
	text-align: center;
	height: 100%;
	line-height: 3em;
	font-size: 1em;
	background-color: #000;
	opacity: 0.3;
}
div.card-op a{
	text-align: center;
	height: 100%;
	line-height: 3em;
	font-size: 1em;
	background-color: #CCFFFF;
	color: #000000;
}

.index #index-vip-detail{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.index #index-vip-detail div{
	text-align: center;
}

.index .am-list-static.am-list-border>a{
	padding: 1rem;
}
.index .am-list-border>a{
	border-width: 1px;
}
.index .am-list>a{
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	color: #000;
}
.index .am-list>a>.am-badge{
	float: right;
}

/* lists */
.am-list{
	margin-top: 0em;
}
#index-qrcode-c{
	display: none;
}
#index-qrcode-c img{
	display: block;
	width: 80%;
	margin: 0em auto;
}

/* footer-tabs */
.tabs-icon-top{
	position: fixed;
	bottom: 0em;
	background-color: #F8F8F8;
}
.tabs-icon-top a{
	text-align: center;
	padding: 0.2em;
	line-height: 1em;
	padding-bottom: 0.1em;
	color: #666;
}
.tabs-icon-top a:active{
	color: #00F5FF;
}
.tabs-icon-top a i{
	display: block;
	font-size: 0.8em;
}
.tabs-icon-top a span{
	font-size: 0.6em;
}

/* register form*/
.register .header{
	text-align: center;
}

/* sign */
.sign-container{
	width: 100%;
	height: 10em;
	background-color: #E0FFFF;
	margin-top: 0em;
	position: absolute;
}
.sign-container #sign-btn{
	width: 7em;
	height: 7em;
	border-radius: 7em;
	border: 0.5em solid #BBFFFF;
	background-color: #00F5FF;
	margin: 1em auto;
	text-align: center;
	line-height: 7em;
	font-size: 1em;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;

}
.sign-container #sign-btn:active{
	background-color: #F00;
	border: 0.5em solid #0F0;
}
.sign-container #sign-left{
	float: left;
	width: 4em;
	height: 3em;
	margin-top: -6em;
	margin-left: 1.5em;
	background-color: ;
}
.sign-container #sign-right{
	float: right;
	width: 4em;
	height: 3em;
	margin-top: -6em;
	margin-right: 1.5em;
	background-color: ;
}
.sign-container div .total{
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}
.sign-container div .total-detail{
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}
.sign-op{
	margin-top: 10em;
	position: absolute;
	width: 100%;
	height: 3em;
	background-color: #BBFFFF;
}
.sign-op a{
	display: block;
	height: 3em;
	font-size: 1em;
	text-align: center;
	padding: 0em;
	color: #999;
}
.sign-op a i{
	display: block;
	padding-top: 0.2em;
	height: 1.8em;
	line-height: 1em;
	font-size: 0.8em;
}
.sign-op a span{
	display: block;
	margin-top: 0.5em;
	height: 1em;
	font-size: 0.5em;
}
.sign-op .left{
	border-right: 1px solid #FFF;
}
.sign-date-container{
	margin-top: 13em;
	position: absolute;
	width: 100%;
	height: 0em;
	background-color: #000;
}
#cc{
	position: absolute;
	margin-top: 13em;
}

/* recorder */
.recorder-body{
	background-color: #F5FFFA;
}
.recorder-body .am-panel-bd{
	
}
.recorder-body .recorder-title div{
	text-align: center;
}
.recorder-body .recorder-list{
	text-align: center;
}

/* msg */
.msg{
	background-color: #F8F8FF;
}
.msg .msg-container{
	width: 100%;
}
.msg .msg-container .msg-header{
	margin: 0.5em auto;
	height: 2em;
	width: 14em;
	border-radius: 3px;
	border: 1px solid #B6B8F0;
}
.msg .msg-container .msg-header div{
	text-align: center;
	height: 100%;
	cursor: pointer;
	line-height: 2em;
}
.msg .msg-container .msg-header #msg-left{
	border-right: 1px solid #B6B8F0;
}
.msg-color-click{
	background-color: #B6B8F0;
	color: white;
}
.msg-color-none{
	background-color: #F5FFFA;
	color: #B6B8F0;
}
.msg .msg-container .msg-details{
	border-top: 1px solid #B6B8F0 !important;
}
.msg .msg-container .msg-details #detail-right{
	display: none;
}
.msg .tabs-icon-top a:active{
	color: #B6B8F0;
}
.msg .am-accordion{
	width: 100% !important;
	margin: 0 !important;
}
.msg .am-accordion-item{
	width: 100% !important;
	margin: 0 !important;
}
.msg .am-accordion-title{
	height: 4em;
}
.msg .am-accordion-title span.icon{
	display: block;
	height: 3em;
	color: #FFF !important;
	line-height: 3em;
	text-align: center;
	background-color: #B6B8F0;
	border-radius: 6px;
}
.msg .am-accordion-title span.content{
	display: block;
	height: 4em;
	padding-left: 0;
	left: -2em;
}
/* .msg .am-accordion-title span.content p.c-title{
	margin: 0 !important;
	line-height: 2em;
	font-size: 1em;
}
.msg .am-accordion-title span.content p.c-date{
	margin: 0 !important;
} */

/* my-bill */


/* space */
.space{
	height: 2em;
}
.margin{
	height: 1em;
}
.index-color{
	background-color: #AAA;
}


/* gift */
.gift .gift-panel{
	width: 90%;
	margin: 2em auto;
	box-shadow: -0.5em 0.5em 1em #999;
}
.gift .img img{
	display: block;
	width: 10em;
	margin: 0 auto;
}
.gift #gift-detail{
	display: none;
	margin-top: 1em;
}
.gift #gift-get{
	height: 3em;
}
.gift .gift-score{
	font-size: 2em;
}
.gift .go-get{
	font-size: 1em;
	line-height: 3em;
	text-align: center;
}

/* my-bill */
.my-bill .item-container{
	height: 6em;
	font-size: 1em;
}
.my-bill .item-container .item{
	height: 6em;
	white-space:nowrap;
	text-align: center;
	line-height: 6em;
}
.my-bill .item-container .item-info{
	height: 6em;
	text-align: center;
	line-height: 6em;
}
.my-bill .item-container .item-cost{
	height: 6em;
	white-space:nowrap;
	text-align: center;
	line-height: 6em;
}
.my-bill .bill-lists .date{
	text-indent: -3em;
	text-align: center;
	white-space: nowrap;
	width: 100%;
	height: 1em;
}
.my-bill .bill-lists .xf .item-container{
	height: 6em;
	font-size: 1em;
}
.my-bill .xf .item-container .item{
	height: 6em;
	white-space:nowrap;
	text-align: center;
	line-height: 6em;
}
.my-bill .xf .item-container .item-info{
	height: 6em;
	text-align: center;
	line-height: 6em;
}
.my-bill .xf .item-container .item-cost{
	height: 6em;
	padding: 0px !important;
	margin: 0px !important;
}
.my-bill .xf .item-container .item-cost div{
	height: 2em;
	padding: 0;
	margin: 0;
}
.my-bill .xf .item-container .item-cost div div{
	line-height: 2em;
}
.my-bill .xf .item-container .item-cost div div.s-l{
	text-align: right;
}
.my-bill .xf .item-container .item-cost div div.s-r{
	text-align: left;
}
.my-bill .xf .item-container .item-cost div.shang{
	
}
.my-bill .xf .item-container .item-cost div.zhong{
	
}
.my-bill .xf .item-container .item-cost div.xia{
	
}
/* .my-bill .bill-head{
	background-color: #F5F5F5;
	height: 2em;
}
.my-bill .select{
	background-color: #DEDEDE !important;
	height: 2em;
}
.my-bill .select h3{
	display: block;
	width: 100%;
	width: 100%;
	height: 2em;
}
.my-bill .select-box{
	background-color: #DEDEDE !important;
	width: 100%;
	height: 100%;
} */
.select{
	width: 100%;
	height: 100%;
}