/* footer-tabs */
.tabs-icon-top{
	position: fixed;
	bottom: 0em;
	background-color: #F8F8F8;
}
.tabs-icon-top a{
	text-align: center;
	padding: 0.2em;
	line-height: 1em;
	padding-bottom: 0.1em;
	color: #666;
}
.tabs-icon-top a:active{
	color: #F00;
}
.tabs-icon-top a i{
	display: block;
	font-size: 0.8em;
}
.tabs-icon-top a span{
	font-size: 0.4em;
}
