<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>AngularJS 密码验证</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.4.0/css/amazeui.min.css">


	<!-- JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/angular.js/1.4.0-rc.1/angular.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-sanitize.min.js"></script>
	<script src="http://cdn.amazeui.org/amazeui/2.4.0/js/amazeui.min.js"></script>

	<!-- Your's CSS -->
	<style type="text/css">
		.password-strength{
			height: 6px;
			background-color: #F8F8F8;
			margin-bottom: 6px;
		}
    .password-strength .p-s-s{
      position: relative;
      width: 0%;
      height: 100%;
      background-color: #F00;
    }
    .confirm-password{
      border: 1px solid red !important;
    }
    .confirm-info{
      color: red;
    }
	</style>
	
</head>
<body ng-app="MyApp">
	<form name="form" class="am-form hsfvForm" hsfv ng-controller="HsfvController" novalidate>
  	<fieldset>
  	    <legend>Handsome Form Validate</legend>
  	    <div class="am-form-group">
  	      <label for="hsfv-password"><span class="am-icon-key"></span>&nbsp;密码：<span ng-show="form.hsfvPassword.$dirty" class="password-strength-flag">弱</span></label>
  	      <div class="password-strength am-g" ng-show="form.hsfvPassword.$dirty">
           <div class="p-s-s"></div> 
          </div>
  	      <input name="hsfvPassword" password-strength ng-model="user.password" type="password" class="password" id="hsfv-password" placeholder="请设置一个密码">
  	    </div>
  	
  	    <div class="am-form-group">
  	      <label for="hsfv-password-repeat"><span class="am-icon-repeat"></span>&nbsp;重复密码：<span ng-show="form.hsfvPasswordRepeat.$invalid && form.hsfvPasswordRepeat.$dirty" class="confirm-info">确认密码错误</span></label>
  	      <input name="hsfvPasswordRepeat" hsfv-repeat-password="hsfvPassword" ng-model="user.repeatPassword" type="password" class="" id="hsfv-password-repeat" placeholder="请重复上述密码">
  	    </div>
  	    <p><button type="submit" class="am-btn am-btn-success" ng-disabled="form.$pristine || form.$invalid">提交</button></p>
  	  </fieldset>
</form>




	
	<script type="text/javascript">
		// "use strict";
		angular.module("MyApp", ["ngSanitize"])
		.controller("HsfvController", function($scope){
			// 
		})
		.directive("passwordStrength", function(){
			return {
				restrict: "AE",
				require: "ngModel",
				link: function (scope, iElement, iAttrs, ngModelCtrl){
					if(!ngModelCtrl) return;

            var passwordShow = iElement.parent().children(".password-strength").children(".p-s-s");
            var passwordContainer = iElement.parent().children(".password-strength");
            var totalLength = parseInt(passwordContainer.css("width"));
            var per = totalLength / 12;
            var color = ["red", "blue"];

					scope.$watch("user.password", function(newValue){
            var password = newValue + "";
            var length = password.length;
            switch (length){
              case 0: {angular.element(".password-strength-flag").text("弱");
                      angular.element(".password-strength-flag").css({"color": "red"});
                      break;}
              case 6: {angular.element(".password-strength-flag").text("中");
                      angular.element(".password-strength-flag").css({"color": "blue"});
                      break;}
              case 12: {angular.element(".password-strength-flag").text("强");
                      angular.element(".password-strength-flag").css({"color": "blue"});
                      break;}
            }
            var showLength = (length * per < totalLength) ? (length * per) : totalLength;
            passwordShow.css({"width": showLength + "px" });
            passwordShow.css({"background-color": color[length/12]});
            
					});				
				}
			};
		})
		.directive("hsfvRepeatPassword", function(){
			return {
				restrict: 'AE',
				require: "ngModel",
				link: function (scope, iElement, iAttrs, ngModelCtrl) {
					if(!ngModelCtrl) return;
          var passwordModel = iElement.inheritedData("$formController")[iAttrs.hsfvRepeatPassword];

          var passwordConfirm = function(viewValue){
            var validity = (viewValue === passwordModel.$viewValue);
            ngModelCtrl.$setValidity("hsfvRepeatPassword", validity);
            return viewValue ? viewValue : undefined;
            }

            ngModelCtrl.$formatters.push(passwordConfirm);
            ngModelCtrl.$parsers.push(passwordConfirm);

          passwordModel.$parsers.push(function(viewValue){
            var validity = (viewValue === ngModelCtrl.$viewValue);
            ngModelCtrl.$setValidity("hsfvRepeatPassword", validity);
            return viewValue;
          });
				}
			};
		})
	</script>
</body>
</html>