<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Ionic Slide Box</title>

  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="../lib/ionic/js/ionic.bundle.js"></script>

  <!-- your app's js -->
  <script src="../js/tem4/app.js"></script>
  <style type="text/css">
    .blue{
      background-color: blue !important;
    }
    .yellow{
      background-color: yellow !important;
    }
    .pink{
      background-color: pink !important;
    }
    .box{
      width: 100% !important;
    }
    
  </style>
</head>
<body ng-app="starter" ng-controller="MyController">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
                    <div class="box blue" name="box"><h1>BLUE</h1></div>
              </ion-slide>
              <ion-slide>
                    <div class="box yellow" name="box"><h1>YELLOW</h1></div>
              </ion-slide>
              <ion-slide>
                    <div class="box pink" name="box"><h1>PINK</h1></div>
              </ion-slide>
      </ion-slide-box>
      <script type="text/javascript">
        var boxs = document.getElementsByName("box");
        for(var i = 0; i < boxs.length; i++){
          boxs[i].style.height = window.screen.height + "px" + " !important";
        }
      </script>
</body>
</html>
