<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>To Do List</title>

  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/tem5/style.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="../lib/ionic/js/ionic.bundle.js"></script>

  <!-- your app's js -->
  <script src="../js/tem5/app.js"></script>
</head>
<body ng-app="starter">
       <div  ng-controller="MyController">
              <ul class="list">
                  <li class="item item-checkbox">
                        <label class="item item-input">
                          <input type="text" placeholder="type need to do thing" ng-model="thing">
                        </label>
                  </li>
                  <li>
                    <div class="button-bar">
                    <a class="button button-positive">全选</a>
                      <a class="button" ng-click="add()">添加</a>
                      <a class="button">。。。</a>
                    </div>
                  </li>
              </ul>
              <ion-list ng-controller="MyController"
                  show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
                    <ion-item ng-repeat="list in lists" class="item item-checkbox">
                      <label class="checkbox">
                         <input type="checkbox" ng-model="checked" >
                       </label>
                      <h6>&nbsp;&nbsp;&nbsp;{{list.content}}</h6>
                      <ion-option-button class="button-positive"
                       ng-click="share(item)">
                                  Share
                      </ion-option-button>
                      <ion-option-button class="button-info"
                                         ng-click="edit(item)">
                                  Edit
                      </ion-option-button>
                      <ion-delete-button class="ion-minus-circled"
                                         ng-click="items.splice($index, 1)">
                      </ion-delete-button>
                      <ion-reorder-button class="ion-navicon"
                                          on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                      </ion-reorder-button>
                      </ion-item>
                      <div class="button-bar">
                          <a class="button button-calm">所有</a>
                          <a class="button button-energized">未完成</a>
                          <a class="button button-balanced">已完成</a>
                      </div>
          </ion-list>
       </div>
</body>
</html>
